.land{
  margin-top: 2rem;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

h1{
  color: #3f3d56;
  font-family: 'Lobster Two', cursive;
  letter-spacing: 3px;
  font-size: 35px;
  animation: titleAnimate .8s ease;
}
p{
  text-align: center;
  width: 600px;
  font-family: 'Poppins', sans-serif;
}

@keyframes titleAnimate {
  from{
    transform: translateX(-200vh);
  }
  to{
    transform: translateX(0);
  }
}
