.land_btn{
  width: 150px;
  height: 50px;
  margin-top: 1.5rem;
  border: none;
  outline: none;
  background-color: #e7717d;
  color: #3f3d56;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border-radius: 30px;
  box-shadow: 0 2px 5px grey;
}

.land_btn:hover{
  background-color: #cccccc;
  transform: scale(1.1);
}
