*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section1{
  background-color: #e7717d;
  min-height: 50vh;
}
.icons{
  color: white;
  display: flex;
  justify-content: space-around;
  animation: animateIcons 1s ease;
}
@keyframes animateIcons{
  from{
    transform: translateY(-20rem);
  }
  to{
    transform: translateY(0);
  }
}

.hat{
  margin-left: -15rem;
  margin-top: 6rem;
  transform: rotate(-30deg);
}
.spoon_fork{
  margin-right: -15rem;
  margin-top: 6rem;
  transform: rotate(30deg);
}
form{
  margin-top: -2rem;
}
.searchIn{
  outline: none;
  border: none;
  width: 300px;
  height: 40px;
  text-align: center;
}
.search{ color: white; }
.searchBtn{
  outline: none;
  border: none;
  width: 40px;
  height: 40px;
  background-color: #afd275;
}
.searchBtn:hover{
  background-color: grey;
}
.recipes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 4rem;
}
