.Recipe{
  box-sizing: border-box;
  border: 1px solid #3f3d56;;
  width: 350px;
  margin-top: 1rem;
  margin-bottom: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 1px 5px rgba(104,104,104,.9);
  border-radius: 1rem;
}
.Recipe:hover{
  transform: scale(1.1);
}
.RecipeImg{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.recipeBtn{
  border: none;
  outline: none;
  background-color: #afd275;
  width: 200px;
  height: 40px;
  color: #3f3d56;
  font-family: 'Lobster Two', cursive;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.RecipeTitle{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}
.recipeBtn:hover{
  transform: scale(1.1);
}
.ingredient-list{
  padding: 20px;
  list-style: none;
  font-size: 15px;
}
.ingredients{
  border-bottom: 1px solid #e7717d;
  padding: 15px;
}
.ingredients:last-child{
  border-bottom: none;
}
