#spoon{
  animation: Animate .8s ease;
}

#fork{
  animation: Animate .8s ease;
}

#man{
  animation: Animate .8s ease;
}

@keyframes Animate {
  from{
    transform: translateY(-200vh);
  }
  to{
    transform: translateY(0);
  }
}
